.container-row {
    border-style: solid;
    min-height: 100px;
    display: flex;
    width: 50%;
    padding: 5px;
}

.container-row .sel-left,
.container-row .sel-right {
    overflow: auto;
    border: solid;
}

ul.left-list {
    list-style-type: none;
    height: 300px;
    width: 200px;
    display: grid;
}

ul.left-list li {
    background-color: rgb(221, 239, 221);
}

.one-course {
    border: 2px solid black;
    text-align: center;
}

.one-course.selected li {
    background-color: deepskyblue;
}

button {
    height: 30px;
    padding-left: 5px;
}